$raleway: var(--font-raleway), serif;

@mixin container($mx: 86vw) {
  max-width: $mx;
  margin: 0 auto;

  @media screen and (max-width: 500px) {
    width: calc(100% - 48px);
  }
}

@function px($n) {
  @return $n * 1.1vw / 16;
}
