.buttonWhite {
  border: none;
  background-color: transparent;
  font-family: $raleway;
  font-size: px(24);
  color: white;
  cursor: pointer;
}

.buttonBlack {
  border: none;
  background-color: transparent;
  font-family: $raleway;
  font-size: px(24);
  color: #1c1d20;
  cursor: pointer;
}
